In [13]:
import pandas as pd
import numpy as np

In [17]:
items = pd.read_csv('Items.csv').set_index('StockCode')
cust = pd.read_csv('Customers.csv')
orders = pd.read_csv('Orders.csv')
ordr = pd.read_csv('OrderInvoice.csv')

In [15]:
cust.columns = ['r','CustomerID']
cust = cust.drop(columns='r')
cust = cust.set_index('CustomerID')

In [18]:
ordr = ordr.set_index(['CustomerID', 'InvoiceNo','StockCode'])
ordr.head()

                                   InvoiceDate  Quantity  Warranty  UnitPrice  \
CustomerID InvoiceNo StockCode
17850.0    536365    85123A     12/1/2010 8:26      3309         2       2.55
                     71053      12/1/2010 8:26      1820         7       3.39
                     84406B     12/1/2010 8:26      4693        10       2.75
                     84029G     12/1/2010 8:26      3509         2       3.39
                     84029E     12/1/2010 8:26      3063         5       3.39

                                   Price
CustomerID InvoiceNo StockCode
17850.0    536365    85123A      8437.95
                     71053       6169.80
                     84406B     12905.75
                     84029G     11895.51
                     84029E     10383.57

In [22]:
def cus_stats(cus_id):
    new_df = ordr.loc[cus_id]
    order_sum = 0
    final_sum = ordr.apply(lambda rows: (order_sum+rows['Price']))
    return final_sum